@import "variables";

.container {
  margin: 0;
  background-image: url("../../src/assets/pic.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;

  h1 {
    background-color: $background-color-black;
    padding: 1em;
    border: 20px solid $color-yellow;
    border-radius: 20px;
    color: white;
    letter-spacing: 1px;
    font-weight: 700;
    text-decoration: underline;
  }

  .router__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color-black;
    border: 20px solid $color-yellow;
    border-radius: 20px;
    margin-bottom: 20px;
    z-index: 10;

    a {
      padding: 20px;
      color: white;
      text-decoration: none;
      cursor: pointer;
      transition: 0.001s ease;

      &:hover {
        color: black;
      }
    }
  }
}

.active {
  // border: 2px solid $color-blue;
  overflow: hidden;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $color-blue;
    position: absolute;
    display: block;
    animation: slide 0.5s alternate;
    z-index: -10;
  }
}
@keyframes slide {
  0% {
    background-color: $color-yellow;
    width: 0;
    height: 0;
    top: 50px;
  }

  100% {
    transform: rotate(360deg);
    height: 100%;
    width: 100%;
  }
}
