@import "variables";

.container {
  margin: 0;
  background-image: url("../../src/assets/pic.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;

  h1 {
    background-color: $background-color-black;
    padding: 1em;
    border: 20px solid $color-yellow;
    border-radius: 20px;
    color: white;
    letter-spacing: 1px;
    font-weight: 700;
    text-decoration: underline;
  }

  .router__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color-black;
    border: 20px solid $color-yellow;
    border-radius: 20px;
    margin-bottom: 20px;

    a {
      padding: 20px;
      color: white;
      text-decoration: none;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        color: $color-yellow;
      }
    }
  }
}
