@import "../../variables";

ul{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin:0;
padding:.3em;


  li {
    color: white;
     // flex: 1;
    list-style-type: none;
    cursor: pointer;
  }

}
